<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add to your playlist</title>
</head>
<body>
    <%- include('../partials/navbar')%>
    <h1>add to your playlist</h1>
    <% if(errors) { %>
        <p style="color: red;"><%= errors %></p>
    <% } %> 

    <form action="/music/add" method="post" >

        <label for="title">Music Title:</label><br>
        <input type="title" name="title" placeholder="zoom"><br>
        <label for="artist">Artist:</label><br>
        <input type="text" name="artist" placeholder="Last Dinosaurs"><br>
        <label for="genre">Genre:</label><br>
        <input type="text" name="genre" placeholder="alternative"><br>
        <label for="released_year">Released Year:</label><br>
        <input type="text" name="released_year" placeholder="2012"><br>
        <br>
        <button type="submit">add to my playlist</button>
    </form>

</body>
</html>