<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <%- include('../partials/navbar')%>
    <h1>User Music</h1>

    <table border="1">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% for (let i = 0; i < data.length; i++) { %>
                <tr>
                    <td> <%= data[i]. %></td>
                    <td> <%= data[i]. %></td>
                    <td> <a href="/">see playlist</a></td>
                </tr>
            <% } %>
        </tbody>
    </table>
</body>
</html>